.result-heading {
    font-size: 20px;
    color: darkblue;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 3px;
    margin: 0;
}

.result-heading:hover {
    text-decoration: underline;
}