.google-landing__header-ava {
    background-color: cornflowerblue;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: white;
}
